{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}

<h2 class="text-center">{{ block('title') }}</h2>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#billets" data-toggle="tab">Billets</a></li>
            <li id="ongletcomment"><a href="#comments" data-toggle="tab">Commentaires <span class="label label-warning"> {{nbUnPublishComments}} en attente</span> <span class="label label-info"> {{nbPublishComments}} publiés</span> <span class="label label-danger"> {{nbReportComments}} signalés</span> </a></li>
            <li><a href="#users" data-toggle="tab">Utilisateurs</a></li>
        </ul>
    </div>
</div>

<div class="tab-content table-condensed table-responsive">
    <div class="tab-pane fade in active adminTable" id="billets">
        {% if billets %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th>Date de publication</th>
                        <th>Auteur</th>   <!-- Actions column -->
                    </tr>
                </thead>

                {% for billet in billets %}
                    <tr>
                        <td><a class="billetTitle" href="{{ path('billet', { 'billet_id': billet.id }) }}">{{ billet.title }}</a></td>
                        <td>{{ billet.content|raw}}</td>
                        <td>{{ billet.publication}}</td>
                        <td>{{ billet.author.username}}</td>
                        <td>
                            <a href="{{ path('admin_billet_edit', { 'id': billet.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                            <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#billetDialog{{ billet.id }}"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <div class="modal fade" id="billetDialog{{ billet.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
                                        </div>

                                        <div class="modal-body">
                                        Voulez-vous supprimer définitivement ce billet ?
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                            <a href="{{ path('admin_billet_delete', { 'id': billet.id }) }}" class="btn btn-danger">Confirmer</a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Pas de billet publié</div>
        {% endif %}
        <a href="{{ path('admin_billet_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un billet</button></a>
    </div>


    <div class="tab-pane fade adminTable" id="comments">
        {% if comments %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Pseudo</th>
                            <th>Date de publication</th>
                            <th>Contenu</th>
                            <th>Pour le Billet</th>  <!-- Actions column -->
                        </tr>
                    </thead>

                    {% for comment in comments %}
                        <tr class="comment" data-comment-status='{{comment.status}}' data-comment-report='{{comment.report}}'>
                            <td>{{ comment.pseudo.username}}</td>
                            <td>{{ comment.dateofpost }}</td>
                            <td>{{ comment.content | truncate(60) }}</td>
                            <td><a class="billetTitle" href="{{ path('billet', { 'billet_id': comment.billet.id }) }}">{{ comment.billet.title }}</a></td>

                            <td>
                                <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"><span class="glyphicon glyphicon-trash"></span>
                                </button>

                                <div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
                                            </div>
                                            <div class="modal-body">
                                            Voulez-vous supprimer définitivement ce commentaire ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}" class="btn btn-danger">Confirmer</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->

                                <button type="button" class="btn btn-success btn-xs" title="Validate" data-toggle="modal" data-target="#commentDialogvalidate{{ comment.id }}"><span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <div class="modal fade" id="commentDialogvalidate{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
                                            </div>
                                            <div class="modal-body">
                                            Voulez-vous publier ce commentaire ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                <a href="{{ path('admin_comment_publish', { 'id': comment.id }) }}" class="btn btn-danger">Confirmer</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->

                                <button type="button" class="btn btn-warning btn-xs" title="Dontshow" data-toggle="modal" data-target="#commentDialogDontshow{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span>
                                </button>
                                    <div class="modal fade" id="commentDialogDontshow{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
                                                </div>
                                                <div class="modal-body">
                                                Voulez-vous enlever ce commentaire ?
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                    <a href="{{ path('admin_comment_dontpublish', { 'id': comment.id }) }}" class="btn btn-danger">Confirmer</a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <div class="alert alert-warning">Auncun commentaires</div>
        {% endif %}

    </div>

    <div class="tab-pane fade adminTable" id="users">
        {% if users %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                    <th>Identifiant</th>
                    <th>Role</th>
                    </tr>
                </thead>

                {% for user in users %}
                    <tr>
                    <td>{{ user.username }}</a></td>
                    <td>
                        {% if user.role == 'ROLE_ADMIN' %}
                        Administrateur
                        {% else %}
                        Utilisateur
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
                                    </div>
                                    <div class="modal-body">
                                    Voulez-vous supprimer cet utilisateur définitivement ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_user_delete', { 'id': user.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Auncun utilisateur</div>
    {% endif %}
    <a href="{{ path('admin_user_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un Utilisateur</button></a>        
    </div>
</div>


{% endblock %}

{% block script %}

{{parent()}}
<script>
    $(function() {

        $('tr').each(function(index){
            var statuscomment = $(this).attr("data-comment-status");
            var reportcomment = $(this).attr("data-comment-report");

            if( statuscomment == "0"){
                $(this).css('background-color', '#FFCC66');
            }

            if( reportcomment == "0"){
                $(this).css('background-color', '#FF3333');
            }
            else if (statuscomment =="1"){
                $(this).css('background-color', '#00CC66')
            }
        });  
    }); 
</script>
{% endblock %}


