{% extends "layout.html.twig" %}

{% block title %}{{ billet.title }}{% endblock %}

{% block content %}
<div class="panel panel-info">
  <div class="panel-heading"><h2>{{ billet.title }}</h2></div>
  <div class="panel-body"><p>{{ billet.content|raw }}</p></div>
</div>
<p>

{% block comments %}
    <h3>Comments</h3>
{% for flashMessage in app.session.flashbag.get('signalement_success') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success_reply') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% if comments %}
    {% for comment in comments if comment.level == 0 %}
        {% if comment.status == '1'%}

        <div class="panel panel-success">
        <div class="panel-heading"><strong>{{ comment.pseudo.username}} at {{comment.dateofpost}}</strong></div>
        <div class="panel-body">{{ comment.content }}</div>

        <div id="reply"><a href="{{ path('billet_comment_reply',{ 'comment_id': comment.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-retweet"></span> Reply</button></a> </div>

        <div id="report"><a href="{{ path('billet_comment_report',{ 'comment_id': comment.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-flag"></span> Signaler le commentaire</button></a> </div>
                                          {% for commentlevel1 in commentslevel1 if commentlevel1.level==1 %}
          {% if commentlevel1.status == '1' and commentlevel1.parent == comment.id%}

        <div class="panel panel-success">
        <div class="panel-heading"><strong>{{ commentlevel1.pseudo.username}} at {{commentlevel1.dateofpost}}</strong></div>
        <div class="panel-body">{{ commentlevel1.content }}</div>

        <div id="reply"><a href="{{ path('billet_comment_reply',{ 'comment_id': commentlevel1.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-retweet"></span> Reply</button></a> </div>

        <div id="report"><a href="{{ path('billet_comment_report',{ 'comment_id': commentlevel1.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-flag"></span> Signaler le commentaire</button></a> </div>
                                   {% for commentlevel2 in commentslevel2 if commentlevel2.level==2 %}
          {% if commentlevel2.status == '1' and commentlevel2.parent == commentlevel1.id%}

        <div class="panel panel-success">
        <div class="panel-heading"><strong>{{ commentlevel2.pseudo.username}} at {{commentlevel2.dateofpost}}</strong></div>
        <div class="panel-body">{{ commentlevel2.content }}</div>

        <div id="reply"><a href="{{ path('billet_comment_reply',{ 'comment_id': commentlevel2.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-retweet"></span> Reply</button></a> </div>

        <div id="report"><a href="{{ path('billet_comment_report',{ 'comment_id': commentlevel2.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-flag"></span> Signaler le commentaire</button></a> </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
     No comments yet.
    {% endif %}
    {% endblock %}

    <h3>Add a comment</h3>
{% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% if commentForm %}
        {{ form_start(commentForm,{ 'attr': {'class': 'form-horizontal'} }) }}
            <div class="form-group">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your comment'
                }}) }}
            </div>

            <div class="form-group" style="display: none">
                {{ form_errors(commentForm.dateofpost) }}
                {{ form_widget(commentForm.dateofpost, { 'attr':  {
                    'rows': '6',
                    'class': 'form-control',
                    'placeholder': 'date to your commentaire'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publish comment"/>
            </div>
        {{ form_end(commentForm) }}
        
    {% else %}
        <a href="{{ path('login') }}">Log in</a> to add comments.
    {% endif %}
</p>
{% endblock %}