{% extends "layout.html.twig" %}

{% block title %}{{ billet.title }}{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading"><h2>{{ billet.title }}</h2></div>
  <div class="panel-body"><p>{{ billet.content|raw }}</p></div>
</div>
<p>

{% block comments %}
    <h3>Commentaires</h3>
{% for flashMessage in app.session.flashbag.get('signalement_success') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success_reply') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div id="content">
    {% if comments %}
    {% for comment in comments if comment.level == 0 %}
        {% if comment.status == '1'%}

        <div class="panel panel-success level0">
        <div class="panel-heading"><strong>{{ comment.pseudo.username}} at {{comment.dateofpost}}</strong> <a href="{{ path('billet_comment_report',{ 'comment_id': comment.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-flag"></span></button></a> </div>
        <div class="panel-body">{{ comment.content }}</div>

        <div id="reply"><a href="{{ path('billet_comment_reply',{ 'comment_id': comment.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-retweet"></span> Répondre</button></a> </div>

      
                                          {% for commentlevel1 in commentslevel1 if commentlevel1.level==1 %}
          {% if commentlevel1.status == '1' and commentlevel1.parent == comment.id%}

        <div class="panel panel-info">
        <div class="panel-heading"><strong>{{ commentlevel1.pseudo.username}} at {{commentlevel1.dateofpost}}</strong> <a href="{{ path('billet_comment_report',{ 'comment_id': commentlevel1.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-flag"></span></button></a></div>
        <div class="panel-body">{{ commentlevel1.content }}</div>

        <div id="reply"><a href="{{ path('billet_comment_reply',{ 'comment_id': commentlevel1.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-retweet"></span> Répondre</button></a> </div>

       
                                   {% for commentlevel2 in commentslevel2 if commentlevel2.level==2 %}
          {% if commentlevel2.status == '1' and commentlevel2.parent == commentlevel1.id%}

        <div class="panel panel-info">
        <div class="panel-heading"><strong>{{ commentlevel2.pseudo.username}} at {{commentlevel2.dateofpost}}</strong> <a href="{{ path('billet_comment_report',{ 'comment_id': commentlevel2.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-flag"></span></button></a></div>
        <div class="panel-body">{{ commentlevel2.content }}</div>

        <div id="reply"><a href="{{ path('billet_comment_reply',{ 'comment_id': commentlevel2.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-retweet"></span> Répondre</button></a> </div>

        

                         {% for commentlevel3 in commentslevel3 if commentlevel3.level==3 %}
          {% if commentlevel3.status == '1' and commentlevel3.parent == commentlevel2.id%}

        <div class="panel panel-info">
        <div class="panel-heading"><strong>{{ commentlevel3.pseudo.username}} at {{commentlevel3.dateofpost}}</strong> <a href="{{ path('billet_comment_report',{ 'comment_id': commentlevel3.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-flag"></span></button></a></div>
        <div class="panel-body">{{ commentlevel3.content }}</div>

        </div>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
     Pas de commentaires publiés
    {% endif %}
    </div>

    <div id="page_navigation"> </div>
    {% endblock %}

    <h3>Ajouter un Commentaire</h3>
{% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% if commentForm %}
        {{ form_start(commentForm,{ 'attr': {'class': 'form-horizontal'} }) }}
            <div class="form-group">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Entrez votre commentaire'
                }}) }}
            </div>

            <div class="form-group" style="display: none">
                {{ form_errors(commentForm.dateofpost) }}
                {{ form_widget(commentForm.dateofpost, { 'attr':  {
                    'rows': '6',
                    'class': 'form-control',
                    'placeholder': 'date to your commentaire'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publier le commentaire"/>
            </div>
        {{ form_end(commentForm) }}
        
    {% else %}
        <a href="{{ path('login') }}">Se connecter</a> pour ajouter des commentaires
    {% endif %}
</p>
{% endblock %}

{% block script %}

{{parent()}}
<script> 

    var show_per_page = 1; 
    var current_page = 0;

    function set_display(first, last) {
      $('#content > div.level0').css('display', 'none');
      $('#content > div.level0').slice(first, last).css('display', 'block');
      
    }

    function previous(){
        if($('.active').prev('.page_link').length) go_to_page(current_page - 1);
    }

    function next(){
        if($('.active').next('.page_link').length) go_to_page(current_page + 1);
    }

    function go_to_page(page_num){
      current_page = page_num;
      start_from = current_page * show_per_page;
      end_on = start_from + show_per_page;
      set_display(start_from, end_on);
      $('.active').removeClass('active');
      $('#id' + page_num).addClass('active');
    }  

    $(document).ready(function() {

      var number_of_pages = Math.ceil($('#content > div.level0').length / show_per_page);
      
      var nav = '<ul class="pagination"><li><a href="javascript:previous();">&laquo;</a>';

      var i = -1;
      while(number_of_pages > ++i){
        nav += '<li class="page_link'
        if(!i) nav += ' active';
        nav += '" id="id' + i +'">';
        nav += '<a href="javascript:go_to_page(' + i +')">'+ (i + 1) +'</a>';
      }
      nav += '<li><a href="javascript:next();">&raquo;</a></ul>';

      $('#page_navigation').html(nav);
      set_display(0, show_per_page);
      
    });

  </script>
{% endblock %}