
{% extends "layout.html.twig" %}
{% block title %}{{ billet.title }}{% endblock %}
{% block content %}

{% block comments %}
<div class="panel panel-success">
        <div class="panel-heading"><strong>{{ comment.pseudo.username}} at {{comment.dateofpost}}</strong></div>
        <div class="panel-body">{{ comment.content }}</div>

        {% for flashMessage in app.session.flashbag.get('success_reply') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% if commentFormReply %}
        {{ form_start(commentFormReply,{ 'attr': {'class': 'form-horizontal'} }) }}
            <div class="form-group" id="commentReply">
                {{ form_errors(commentFormReply.content) }}
                {{ form_widget(commentFormReply.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Entrez votre commentaire'
                }}) }}
            </div>

            <div class="form-group" style="display: none">
                {{ form_errors(commentFormReply.dateofpost) }}
                {{ form_widget(commentFormReply.dateofpost, { 'attr':  {
                    'rows': '6',
                    'class': 'form-control',
                    'placeholder': 'date to your commentaire'
                }}) }}
            </div>
            <div id="compteur2" class="label label-success"> 0 mots - 0 Caractere / 200</div>
            <div class="form-group" id="reply">
                <input  type="submit" class="btn btn-primary" value="Répondre"/>
            </div>
        {{ form_end(commentFormReply) }}
        
         {% endif %}

         <div id="report"><a href="{{ path('billet_comment_report',{ 'comment_id': comment.id, 'billet_id': billet.id }) }}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-flag"></span> Signaler le commentaire</button></a> </div>
        </div>

{% endblock %}
{% endblock %}
{% block script %}

{{parent()}}
<script> 
    function count_carac(){
      $('#comment_content').on('keyup',function(){
        var maxCaracter = "200";
        var nombreCaracter = $(this).val().length;

        var nombreMots = jQuery.trim($(this).val()).split(' ').length;
        console.log(nombreMots);
        if($(this).val() === '') {
          nombreMots = 0 ;
        }

        var msg = ' '+ nombreMots + ' mot(s) | ' + nombreCaracter + ' Caractere(s) / 200';
        $('#compteur2').text(msg);
        if(nombreCaracter > 200) { $('#compteur2').removeClass('label-success').addClass('label-danger');
        $('#comment_content').attr('maxlength',maxCaracter);

    }

        else{
          $('#compteur2').removeClass('label-danger').addClass('label-success');
        }
      });
    } 

    $(document).ready(function() {
      count_carac();
    });


  </script>
{% endblock %}

