{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="content">
    {% for billet in billets %}
        <div  class="panel panel-primary billet">
            <div class="panel-heading"><h2>{{ billet.title }}</h2></div>
            <div class="panel-body"> <p>{{ billet.content|raw }}</p>
                <p> publié par {{ billet.author.username }}</p>
                <a class="billetTitle" href="{{ path('billet', { 'billet_id': billet.id }) }}">Commentaires</a>
            </div>
        </div>
    {% endfor %}
</div>

<div id="page_navigation"> </div>
{% endblock %}

{% block script %}
{{parent()}}

<script src="{{ asset('/js/index.js') }}"></script>
{% endblock %}